#chatSection{
	max-width: 1000px;
	margin: auto;
}
#chat{
	height: calc( 100vh - 160px);
    margin-bottom: 20px;
    overflow-y: scroll;
}
.user{
	display: inline;
	margin: 0 10px;
	color: #2f16ff;
}
div{white-space: pre-line}
.form-group {
	margin-bottom: 0;
}
.message_container{
	display: flex;
	padding: 5px 0;
	cursor: default;
	background-color: transparent;
	transition: all ease 2s;
}
.message{
	word-wrap: break-word;
    max-width: calc( 100% - 54px);
    margin-bottom: 0;
    padding-left: 54px;
}
.username{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: #3f4040e6;
	text-align: center;
}
.username h1{
    font-size: 31px;
    margin-top: calc((100vh - 200px) / 2);
    color: white;
    margin-bottom: 0;
}
.username input{
	width: 300px;
	background: none;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	text-align: center;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.date_name{
	min-width: 200px;
}
#usersTyping{
	margin-bottom: 0;
	position: absolute;
	top: calc( 100vh - 163px);
}
.userWarning{
	color: #ff8181;
}
.newUser{
	text-align: center;
	color: #ababab;
}
.unreadMessages {
    background-color: #e4e3e3;
}
.editingMessage{
	background-color: #e4e3e3;
}
.editedMsg:before {
    content: '(ред.)';
    color: #b7b7b7;
    position: relative;
}
.editedMsg .message{
	padding-left: 15px;
}
.user_gone {
    color: #ababab;
}

.userList p {
    display: inline;
    margin-right: 10px;
}
.user_online {
    color: #12b31f;
}
.dateMessage{
	color: #377fab;
    padding-top: 15px;
    border-top: 1px solid #e5e3e3;
    margin: 10px auto 0px;
}
.sticker{
	max-width: 192px;
}
.stickerModal{
	height: calc( 100vh - 160px);
    overflow-y: scroll;
    background-color: white;
    padding-right: 19px;
    width: calc(100% - 30px);
    float: left;
    opacity: 1;
    padding-left: 15px;
    transition: height linear .01s .2s;
}

.stickerModal .sticker{
	max-width: 25%;
	cursor: pointer;
}
.stickerMessage{
	padding-left: 54px;
	transition: background ease 2s;
}

.pointer{
	cursor: pointer;
}

.slideStickers{
	width: 30px;
    height: calc( 100vh - 160px);
    float: left;
    background-color: #f5f5f4;
    transition: all linear .2s;
}

.slideStickers:before{
	content: '';
	background: url('arrow.png') no-repeat center center;
    background-size: 20px;
    width: 30px;
    height: calc( 100vh - 160px);
    position: absolute;
    transform: rotate(-180deg);
}

.col-1 .stickerModal{
	width: 0;
	opacity: 0;
	overflow-y: hidden;
	transition: height ease .01s;
	padding: 0;
	height: 0
}

.col-1 .slideStickers{
	margin-left: calc(100% - 30px);
}

.col-4 .slideStickers:before{
	transform: rotate(0deg);
}

.chatContainerTransition{
	transition: all linear .2s;
}

.ctickerTitle{
	color: #7c7c7c;
    padding: 20px 0 10px;
}