#chatSection{
	max-width: 1000px;
	margin: auto;
}
#chat{
	height: calc( 100vh - 198px);
    margin-bottom: 54px;
    overflow-y: scroll;
}
.user{
	display: inline;
	margin: 0 10px;
	color: #2f16ff;
}
div{white-space: pre-line}
.form-group {
	margin-bottom: 0;
}
.message_container{
	display: flex;
	padding: 5px 0;
	cursor: default;
	background-color: transparent;
	transition: all ease 2s;
}
.message{
	word-wrap: break-word;
    max-width: calc( 100% - 54px);
    margin-bottom: 0;
    padding-left: 54px;
}
.username{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: #3f4040e6;
	text-align: center;
}
.username h1{
    font-size: 31px;
    margin-top: calc((100vh - 200px) / 2);
    color: white;
    margin-bottom: 0;
}
.username input{
	width: 300px;
	background: none;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	text-align: center;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.date_name{
	min-width: 200px;
}
#usersTyping{
	margin-bottom: 0;
	position: absolute;
	top: calc( 100vh - 168px);
}
.userWarning{
	color: #ff8181;
}
.newUser{
	text-align: center;
	color: #ababab;
}
.unreadMessages {
    background-color: #e4e3e3;
}
.editingMessage{
	background-color: #e4e3e3;
}
.editedMsg:before {
    content: '(ред.)';
    color: #b7b7b7;
    position: relative;
}
.editedMsg .message{
	padding-left: 15px;
}
.user_gone {
    color: #ababab;
}

.userList p {
    display: inline;
    margin-right: 10px;
}
.user_online {
    color: #12b31f;
}
.dateMessage{
	padding-top: 10px;
    padding-bottom: 5px;
    color: #377fab;
    font-size: 20px;
}
.sticker{
	max-width: 192px;
}
.stickerModal{
	height: 30px;
    max-width: 1000px;
    overflow-y: hidden;
    position: absolute;
    top: calc( 100vh - 175px);
    background-color: white;
    padding: 0 10px;
    box-shadow: 0 0 5px 2px #d4d4d4;
    transition: all ease .2s;
}
.stickerModal:hover{height: 208px;overflow-y: scroll; top: calc( 100vh - 354px);padding: 10px;}
.stickerModal .sticker{
	max-width: 92px;
}
.stickerMessage{
	padding-left: 54px;
	transition: background ease 2s;
}